core: hpack dynamic table takes up too much memory

This needs to be investigated further, just filing as a placeholder.
CC @bdarnell for info. I'm happy to dig into this further though.

The hpack (header compression in http2) [dynamic table](http://http2.github.io/http2-spec/compression.html#dynamic.table) is taking up too much memory. This is a basic pprof after ~30 minutes of running kv against `cockroach-omega-0006`.
![profile001](https://user-images.githubusercontent.com/5901480/28284483-1c93d644-6aff-11e7-8e6c-9eca5d48fead.png)

The default max table size in go is 4096 entries. The large entries are most likely due to tracing.
We should make sure we request that tracing-related header are not cached. We may also want to decrease the table size.

The HPACK dynamic table defaults to 4096 *bytes*, not entries ([RFC 7540 section 6.5.2](https://tools.ietf.org/html/rfc7540#section-6.5.2)). 

I'm not sure about the current relationship between grpc, `golang.org/x/net/http2` and the standard library, but maybe it's golang/go#19756

Oops, looks like it read that condition too quickly, I just saw `maxSize` and `table.len()`.
from https://github.com/golang/net/blob/master/http2/hpack/hpack.go#L176
```
// If we're too big, evict old stuff.
func (dt *dynamicTable) evict() {
	var n int
	for dt.size > dt.maxSize && n < dt.table.len() {
		dt.size -= dt.table.ents[n].Size()
		n++
	}
	dt.table.evictOldest(n)
}
```

I think updating our `golang.org/x/net` dependency to at least https://github.com/golang/net/commit/05d3205156cb1bdc096578d6457fa161cd950aa2 will do the trick (we're currently using a version from a couple of weeks before that commit). 

There are are 6 changes between our current version the fix:
```
$ git log --oneline a6577fa...05d3205 |cat -n
     1	05d3205 http2/hpack: fix memory leak in headerFieldTable lookup maps
     2	c4f3706 http2/h2demo: use HTTP host for HTTP-only link
     3	d9e3f12 http2/h2demo: add demo for HTTP/2 Server Push
     4	6c23252 Revert "http2/h2demo: add HTTP/2 with Server Push"
     5	78ebe5c idna: copy the idna package from x/text, take 2.
     6	3e967e1 http2/h2demo: add HTTP/2 with Server Push
```

and 68 since the fix:
```
$ git log --oneline 05d3205... |cat -n
     1	b3756b4 context: use Go 1.9 type alias for CancelFunc and Context
     2	f01ecb6 http2: fix format argument warnings in tests
     3	054b33e proxy: add support for ALL_PROXY and NO_PROXY
     4	570fa1c ipv6: simplify tests and benchmarks
     5	e1ae248 ipv4: simplify tests and benchmarks
     6	f5bfe5c dns/dnsmessage: tweak the error value on nil resource body
     7	1f92242 context: sync ExampleWithTimeout with std lib context
     8	c81e7f2 context: deflake example
     9	d4223d6 http2: refund connection flow control on DATA frames received after reset
    10	8663ed5 dns/dnsmessage: don't crash with nil resource body
    11	455220f dns/dnsmessage: move example code into example_test.go
    12	1274847 dns/dnsmessage: fix a typo
    13	d997483 idna: update from x/text
    14	5f8847a dns/dnsmessage: additional test coverage
    15	30f0301 dns/dnsmessage: allocation free DNS message parsing and building
    16	057a25b ipv6: report a destination address on write error
    17	a272b72 ipv4: report a destination address on write error
    18	f9d2e38 icmp: use socket.NativeEndian
    19	454122b ipv6: use socket.NativeEndian
    20	fe686d4 http2: fix Server race
    21	1816238 trace: export /debug/requests and /debug/events handlers
    22	973f3f3 http2: make Transport treat http.NoBody like it were nil
    23	ddf80d0 publicsuffix: update table to latest list from publicsuffix.org
    24	6b17b9b http2: stop rejecting outgoing paths beginning with two slashes
    25	dfe83d4 internal/socket: don't crash with corrupted control messages
    26	9c9a3f3 bpf: add Setter interface
    27	1a68b13 http2: fix up comment on unexported connError type
    28	e78b1e4 ipv6: don't crash with corrupted control messages
    29	ec5a957 ipv4: don't crash with corrupted control messages
    30	59a0b19 ipv6: deflake multicast listener tests
    31	bcf7175 ipv4: deflake multicast listener tests
    32	e4fa1c5 bpf: fix type of Extension constants
    33	3da985c internal/socket: fix 386 emulation on amd64 for FreeBSD
    34	48359f4 ipv6: add {Read,Write}Batch methods to PacketConn
    35	b7a1f62 ipv4: add {Read,Write}Batch methods to {Packet,Raw}Conn
    36	3470a06 http2: fix nil dereference after Read completes with an error
    37	06b2bf2 http2: fix typo in comment
    38	b8b1343 internal/socket: add message IO functionality
    39	f61a773 internal/socket: add platform-dependent boilerplate files
    40	7dcfb80 nettest: skip testConcurrentMethods on Plan 9
    41	5b58a9c http2/hpack: gofmt -w -s
    42	445979b internal/iana: update DSCP names
    43	aa0b216 Revert "ipv4, ipv6, internal/netreflect, bpf: fix the x/net build"
    44	e1564c3 internal/socket: merge internal/netreflect into internal/socket package
    45	bd58382 ipv6: plumb in the standard library of Go 1.9 by using internal/socket package
    46	c4fa6e0 ipv4: plumb in the standard library of Go 1.9 by using internal/socket package
    47	50e760f internal/socket: new package
    48	d8bd24b http2: fix RFC number typo in comment
    49	a8e8f92 http2: remove extra goroutine stack from awaitGracefulShutdown
    50	1a26cf0 http2: Discard DATA frames from the server after the response body is closed
    51	5961165 http2: mostly test for Transport memory issue
    52	4dbf598 http2/hpack: remove unused pair function from package
    53	0d77224 http2/hpack: remove pair function and initialize directly
    54	5139290 http2: fix style inconsistency in test
    55	3405706 http2: reduce the number of select cases in serverConn.server
    56	84f0e6f http2: fix lock contention slowdown due to gracefulShutdownCh
    57	c9b681d http2/hpack: move initialization to a static table
    58	fcc8ed8 lif: rename internal types
    59	feeb485 http2: add all bad ciphers, use package constants
    60	0819898 xsrftoken: panic for unsafe zero length keys
    61	da118f7 route: don't fail test when at least one version of INET protocols is available
    62	a25ba90 lif: don't fail test when at least one version of INET protocols is available
    63	d212a1e trace: support Go 1.6 again
    64	0b588ed nettest: break on unexpected error
    65	c8c7437 trace: use standard library context
    66	5602c73 http2: Use NO_ERROR instead of CANCEL when responding before the request is finished
    67	d1e1b35 http2: enforce write deadline per stream
    68	ffcf1be http2/h2demo: don't auto redirect the HTTP-only serverpush demo to HTTPS
```

I'll try just picking up the fix, but I can also try HEAD and see if that breaks any of our other dependencies.

On master, I'd just upgrade to the latest version. If we want to cherry-pick something into 1.0.4 then we should just take the first 6 commits. 

@RaduBerinde: when did we start using http2 headers for tracing? is it 1.1 only, or 1.0 as well?

before and after #17080:
I put a build with this change on `cockroach-omega-0001`, left all other nodes at the alpha candidate sha, enabled tracing, and restarted all nodes (full shutdown-restart).

Graph of go allocated memory:
![omega_mem_diff](https://user-images.githubusercontent.com/5901480/28328619-23880b6c-6bb5-11e7-841e-c9f7eb045f60.png)

pprof of nodes 1 (with fix) and 2 (without fix): (cumulative)
```
$ go tool pprof -cum -text cockroach.1 1.memprof.2017-07-18T16_28_52.626 |head
174.22MB of 200.28MB total (86.99%)
Dropped 1350 nodes (cum <= 1MB)
      flat  flat%   sum%        cum   cum%
         0     0%     0%   196.14MB 97.93%  runtime.goexit
         0     0%     0%    84.53MB 42.20%  github.com/cockroachdb/cockroach/pkg/storage.(*endCmds).done
   69.01MB 34.46% 34.46%    77.03MB 38.46%  github.com/cockroachdb/cockroach/pkg/storage.(*timestampCache).AddRequest
         0     0% 34.46%    70.21MB 35.05%  github.com/cockroachdb/cockroach/vendor/google.golang.org/grpc.(*Server).handleStream
         0     0% 34.46%    70.21MB 35.05%  github.com/cockroachdb/cockroach/vendor/google.golang.org/grpc.(*Server).processUnaryRPC
         0     0% 34.46%    70.21MB 35.05%  github.com/cockroachdb/cockroach/vendor/google.golang.org/grpc.(*Server).serveStreams.func1.1
         0     0% 34.46%    69.67MB 34.79%  github.com/cockroachdb/cockroach/pkg/util/stop.(*Stopper).RunWorker.func1

$ go tool pprof -cum -text cockroach.2 2.memprof.2017-07-18T16_29_15.149|head
795.82MB of 892.81MB total (89.14%)
Dropped 1332 nodes (cum <= 4.46MB)
      flat  flat%   sum%        cum   cum%
         0     0%     0%   882.81MB 98.88%  runtime.goexit
   45.51MB  5.10%  5.10%   429.14MB 48.07%  runtime.mapassign
         0     0%  5.10%   408.60MB 45.77%  github.com/cockroachdb/cockroach/vendor/golang.org/x/net/http2/hpack.(*dynamicTable).add
  379.12MB 42.46% 47.56%   379.12MB 42.46%  runtime.hashGrow
         0     0% 47.56%   335.11MB 37.53%  github.com/cockroachdb/cockroach/pkg/kv.(*grpcTransport).SendNext.func1
         0     0% 47.56%   335.11MB 37.53%  github.com/cockroachdb/cockroach/pkg/kv.(*grpcTransport).SendNext.func1.1
         0     0% 47.56%   325.69MB 36.48%  github.com/cockroachdb/cockroach/vendor/github.com/grpc-ecosystem/grpc-opentracing/go/otgrpc.OpenTracingClientInterceptor.func1
```

We started using them in 1.1

Thanks, then we don't need to do anything for 1.0. I'll file an issue to mark the tracing headers as non-cacheable.