roachtest: largerange/splits/size=10GiB,nodes=3 failed on master

SHA: https://github.com/cockroachdb/cockroach/commits/20a78c0d80bac6bf557598776680612c6c588df5

Parameters:

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=678828&tab=buildLog

```
	cluster.go:701,large_range.go:99,cluster.go:939,errgroup.go:58: /home/agent/work/.go/bin/roachprod run teamcity-678828-largerange-splits-size-10gib-nodes-3:1 -- ./workload init bank --rows=41297762 --payload-bytes=100 --ranges=1 {pgurl:1-3}: exit status 1

```

```
> /home/agent/work/.go/bin/roachprod run teamcity-678828-largerange-splits-size-10gib-nodes-3:1 -- ./workload init bank --rows=41297762 --payload-bytes=100 --ranges=1 {pgurl:1-3}
MONITOR: 1: 2795
MONITOR: 3: 2810
MONITOR: 2: 2831
Error:  wait: remote command exited without exit status or exit signal
```

@petermattis I'm not sure how this can happen `x/crypto/ssh` says:

```go
// ExitMissingError is returned if a session is torn down cleanly, but
// the server sends no confirmation of the exit status.
type ExitMissingError struct{}

func (e *ExitMissingError) Error() string {
	return "wait: remote command exited without exit status or exit signal"
}
```

> According to RFC 4254 section 6.10, SSH server implementations may
omit the exit-status and exit-signal messages.  If this happens, we
now return &ExitMissingError{}, so clients can handle this case
specifically. 

Ok, great. But why does it?

SHA: https://github.com/cockroachdb/cockroach/commits/9e5b4464cee6860859c28e3ec573dd549c903755

Parameters:

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=691294&tab=buildLog

Aha!

> [ 996] largerange/splits/size=10GiB,nodes=3: populating bank table (12h41m10s)

The hardware must've gotten destroyed out from under the test since it got stuck.

We definitely want to be assuming failure.

Unfortunately, the server logs are fairly incomplete in that case as the nodes get removed. We need to address #26230, though this isn't entirely trivial. For this case, I'll send a targeted fix that aborts the test early.

The test usually runs in <20min.

<img width="715" alt="image" src="https://user-images.githubusercontent.com/5076964/40967713-c53691c6-6881-11e8-902a-1efe17f3fc8e.png">


SHA: https://github.com/cockroachdb/cockroach/commits/d972ce1f69d9b62ecea8294add90e2ed53932139

Parameters:

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=702777&tab=buildLog

Ok, #26415 fired. Looking through the logs of the nodes, the interesting bits are various ever-repeating health alerts:

```
# n1
E180607 12:05:45.999756 68212 storage/queue.go:778  [raftsnapshot,n1,s1,r24/1:/{Table/53-Max}] snapshot failed: rate: Wait(n=1) would exceed context deadline
W180607 12:05:54.362951 206 server/node.go:811  [n1,summaries] health alerts detected: {Alerts:[{StoreID:1 Category:METRICS Description:queue.raftsnapshot.process.failure Value:1}]}

# n2
W180607 13:47:05.323154 163 server/node.go:811  [n3,summaries] health alerts detected: {Alerts:[{StoreID:0 Category:METRICS Description:requests.slow.distsender Value:14} {StoreID:3 Category:METRICS Description:requests.slow.lease Value:14}]}

# n3 looks happy
```

My reading of this (given that we don't have more information) is that a Raft group got stuck and needs a snapshot, and that this isn't happening because of the breaker.

Sorry, not breaker. This is the `x/time/rate` limiter. And the message really tells us that the context was about to expire. Maybe for some reason things are just slowing down to the point where the snapshot doesn't finish in time? This makes some sense because... well, this test is all about a large range. But is `/Table/53-Max` the table? It seems that that would be the empty range at the end so this theory makes no sense.

The raft snapshot queue uses the [default 1min timeout](https://github.com/cockroachdb/cockroach/blob/98c569465ddab817ca128bb14f73199789ada44b/pkg/storage/queue.go#L44)
@nvanbenschoten we may have to change something here once we want to allow larger range sizes. Basically instead of a hard timeout we should continue the snapshot as long as it makes reasonable progress. Or we set a timeout based on the size of the snapshot.

@nvanbenschoten any idea what might be going on here? If r24 above is the large range, then I'm not surprised that a snapshot times out, but I still don't know why one would be needed. Perhaps we need to wait for upreplication first, but that doesn't really make a lot of sense neither (and it would be a preemptive snapshot that's needed, not a Raft one).

```
I180607 08:48:06.666732 1023 sql/event_log.go:126  [n1,client=10.128.0.11:39950,user=root] Event: "create_table", target: 53, info: {TableName:bank.public.bank Statement:CREATE TABLE bank (id INT PRIMARY KEY, balance INT, payload STRING, FAMILY (id, balance, payload)) User:root}
I180607 08:48:06.668043 1067 storage/replica_command.go:863  [split,n1,s1,r23/1:/{Table/52-Max}] initiating a split of this range at key /Table/53 [r24]
```

Does this mean 53 is the ID of the large table? (Note the `target: 53`).

Actually there are multiple snapshots that succeed, but they have a harder and harder time doing so as the range grows. This is the last successful one:

```
I180607 08:50:41.083468 5991 storage/store_snapshot.go:605  [raftsnapshot,n1,s1,r24/1:/{Table/53-Max}] streamed snapshot to (n3,s3):3: kv pairs: 3478009, log entries: 11, rate-limit: 8.0 MiB/sec, 53037ms
```

I'm not clear on why n3 gets to fall behind like that all the time; perhaps there's some mismatch between the quota pool and the log truncation? Either way, once it does, it makes sense that we'd end up in this situation, and once we can't send snapshots any more, the quota pool will block us.

> @nvanbenschoten we may have to change something here once we want to allow larger range sizes. Basically instead of a hard timeout we should continue the snapshot as long as it makes reasonable progress. Or we set a timeout based on the size of the snapshot.

I've had the same thought as well. I believe @bobvawter created a utility for canceling a context only when progress has stalled. Let me try to find that.

> Either way, once it does, it makes sense that we'd end up in this situation, and once we can't send snapshots anymore, the quota pool will block us.

Yeah if we're seeing this test fail often because the range gets too large for modern-day snapshots to be able to handle then we might want to skip it for now. We know that once the range gets above a certain size (~480 MB) snapshots will be impossible because of the rate limiting. This indicates that we need some kind of dynamic timeout like you said.

It's also not clear to me why we keep needing to snapshot n3. If you're seeing multiple snapshots to n3 then this isn't a preemptive snapshot, which implies that the quero pool is failing to work as we'd expect (e.g. slowing load before the point that log entries that haven't yet reached n3 are truncated). We should see if we can reproduce this behavior with some extra logging about the state of the raft log queue and the quota pool and observe if there's any strange interaction.

> I believe @bobvawter created a utility for canceling a context only when progress has stalled. Let me try to find that.

Unfortunately it looks like that was never merged: https://github.com/cockroachdb/cockroach/pull/24162. There probably isn't much to do with it yet anyway until we move to increase the range size, but this is something we should keep in mind.

SHA: https://github.com/cockroachdb/cockroach/commits/da418b98f7f349d9689d47072ff985986059e5de

Parameters:

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=706917&tab=buildLog

> But is /Table/53-Max the table? It seems that that would be the empty range at the end so this theory makes no sense.

There's not an empty range at the end; the last table extends to `/Max`. #26492 proposes changing this so there is always an empty range at the end. 

SHA: https://github.com/cockroachdb/cockroach/commits/39f0393d80cb62d62ce20ec1e5eccbe366f9c759

Parameters:

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=722239&tab=buildLog

SHA: https://github.com/cockroachdb/cockroach/commits/3df46633c94346d81d35739422599efd1455b2be

Parameters:

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=726048&tab=buildLog

SHA: https://github.com/cockroachdb/cockroach/commits/faa1d2b46708f4f84cd552af6dc7258373fdebb0

Parameters:

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=757857&tab=buildLog

SHA: https://github.com/cockroachdb/cockroach/commits/4da7ca38f65466db39231445bb5b69065b50ed45

Parameters:

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=763119&tab=buildLog

SHA: https://github.com/cockroachdb/cockroach/commits/7e1774893e84e2988d1906383b79456c2e855c2e

Parameters:

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=766173&tab=buildLog

SHA: https://github.com/cockroachdb/cockroach/commits/cb1f3a53e61152e220dd8db05c37e1db258f66b8

Parameters:

Failed test: https://teamcity.cockroachdb.com/viewLog.html?buildId=780620&tab=buildLog

This hasn't failed in a month. Closing for now.